{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <form method="post">

            <div class="field">
                <div class="control">
                    <input class="input" type="url" name="url" placeholder="https://www.youtube.com/watch?v=abc">
                </div>
            </div>

            <div class="field">
                <label class="label">File type</label>
                <div class="control">
                    <div class="select">
                        <select name="type">
                            <option value="mp4">Video (MP4)</option>
                            <option value="mp3">Audio (MP3)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="start" placeholder="00:00:00">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="end" placeholder="00:00:00">
                        </div>
                    </div>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Download</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}